header {
  background-color: chocolate;
}
nav{
  background-color: black;
}
main {
  background-color: orangered;
}
footer {
  background-color: aquamarine;
}








html, body{
  background-color: rgb(79, 190, 241);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list {
  background-color: aqua;

}
.pics {
  background-color: yellowgreen;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
